<br>
<br>
<h2>
  dependency work
</h2>

<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>description</th>
                <th>homepage</th>
                <th>sourceRepository</th>
                <th>uploaded</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let dependency of listDependency; trackBy: index;'>
                <td>{{ dependency.id }}</td>
                <td>{{ dependency.name }}</td>
                <td>{{ dependency.description }}</td>
                <td>{{ dependency.homepage }}</td>
                <td>{{ dependency.sourceRepository }}</td>
                <td>{{ dependency.uploaded }}</td>
            </tr>
        </tbody>
    </table>