<div class="container">
    <h1 class="blog-title">Dependency work</h1>
    <p class="lead blog-description">Building a home page for manage package agda</p>

    <div *ngFor='let dependency of listDependency; trackBy: index;'>
        <md-card class="card-dependency">
            <md-card-title class="card-title">
                <div class="row">
                  <div class="col-md-1">{{ dependency.id }}</div>
                  <div class="col-md-11">{{ dependency.name }}</div>
                </div>
            </md-card-title>
            <md-card-subtitle> 
                <div>{{ dependency.uploaded }}</div>
            </md-card-subtitle>
            <md-card-content>
                {{ dependency.description }}
            </md-card-content>
            <md-card-footer>
                <div class="row">
                  <div class="col-md-6"><a href="{{ dependency.sourceRepository }}">Repository</a></div>
                  <div class="col-md-6"><a href="{{ dependency.homepage }}">Homepage</a></div>
                </div>
            </md-card-footer>
        </md-card>
    </div>
</div>